<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	<typeAliases>
		<typeAlias type="bit.data.dto.BoardDto" alias="boardDto"/>
		<typeAlias type="bit.data.dto.LecAvgStarDto" alias="lecAvgStarDto"/>
		<typeAlias type="bit.data.dto.LecDetailDto" alias="lecDetailDto"/>
		<typeAlias type="bit.data.dto.LectureDto" alias="lectureDto"/>
		<typeAlias type="bit.data.dto.LectureDetailJoinDto" alias="lectureDetailJoinDto"/>
		<typeAlias type="bit.data.dto.LikeBoardDto" alias="likeBoardDto"/>
		<typeAlias type="bit.data.dto.MyLectureDto" alias="myLectureDto"/>
		<typeAlias type="bit.data.dto.QnaDto" alias="qnaDto"/>
		<typeAlias type="bit.data.dto.ReboardDto" alias="reboardDto"/>
		<typeAlias type="bit.data.dto.UserDto" alias="userDto"/>
		<typeAlias type="bit.data.dto.UserLecJoinDto" alias="userLecJoinDto"/>
		<typeAlias type="bit.data.dto.MyLecJoinDto" alias="myLecJoinDto"/>
		<typeAlias type="bit.data.dto.ReadyPayDto" alias="readypayDto"/>
		<typeAlias type="bit.data.dto.ReportBoardDto" alias="reportBoardDto"/>
		<typeAlias type="bit.data.dto.JoinBoardDto" alias="joinBoardDto"/>
	</typeAliases>
</configuration>