<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="bit.data.dao.LecDetailDao">
    <select id="getLecTotalCountMonth" parameterType="Map" resultType="int">
        select count(*) from lecdetail where lecyear = #{lecyear} and lecmonth=#{lecmonth}
    </select>

    <select id="getDataByLecDeNum" parameterType="int" resultType="LecDetailDto">
        select lecdenum, lecnum from lecdetail where lecdenum=#{lecdenum}
    </select>

    <!-- 강의 추가 -->
    <insert id="insertLectureDetail" parameterType="lecDetailDto">
        INSERT INTO lecdetail (lecnum, lecname, roomnum, price, lectime, lecday, lecmonth, lecyear)
        VALUES (#{lecnum}, #{lecname}, #{roomnum}, #{price}, #{lectime}, #{lecday}, #{lecmonth}, #{lecyear});
    </insert>

    <!-- 강의 수정 -->
    <update id="updateLectureDetail" parameterType="lecDetailDto">
        update lecdetail set roomnum = #{roomnum}, price = #{price}, lectime = #{lectime}, lecday = #{lecday}, lecmonth = #{lecmonth}, lecyear = #{lecyear}
        where lecdenum = #{lecdenum}
    </update>

    <!-- 강의 삭제 -->
    <delete id="deleteLectureDetail" parameterType="int">
        DELETE FROM lecdetail WHERE lecdenum = #{lecdenum}
    </delete>

    <!--별점 TOP4 강의 출력-->
    <select id="selectHotLectures" resultType="lectureDto">
        select * from lecture order by avgstar desc limit 5
    </select>
</mapper>