<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="bit.data.dao.LectureDao">
    <!-- 강의 등록 -->
    <insert id="insertLecture" parameterType="lectureDto">
        insert into lecture (lecnum, teaname, lecname, lectypea, lectypeb, lecphoto)
        values (null, #{teaname}, #{lecname}, #{lectypea}, #{lectypeb}, #{lecphoto})
    </insert>
    <!-- 강의 총 개수 출력 (검색 기능 O) -->
    <select id="getTotalLectureCount" parameterType="Map" resultType="int">
        select count(*) from lecture
        <if test="searchword!=null">
            where lecname like concat('%',#{searchword},'%')
        </if>
    </select>
    <!-- 강의 목록 출력 (검색 기능 O) -->
    <select id="getLectureList" parameterType="Map" resultType="lectureDto">
        select * from lecture
        <if test="searchword!=null">
            where lecname like concat('%',#{searchword},'%')
        </if>
        order by lectypea desc, lectypeb asc, lecname asc limit #{startnum},#{perpage}
    </select>
    <!-- 강좌 상세(개설된 강의 확인) 출력 -->
    <select id="getLectureDetail" parameterType="int" resultType="lectureDto">
        select * from lecture where lecnum = #{lecnum} order by lectypea desc, lectypeb asc, lecname asc
    </select>
    <!-- 강좌 수정 -->
    <update id="updateLecture" parameterType="lectureDto">
        update lecture set teaname = #{teaname}, lecname = #{lecname}, lectypea = #{lectypea}, lectypeb = #{lectypeb}
        <if test="lecphoto!=null">
            ,lecphoto = #{lecphoto}
        </if>
        where lecnum = #{lecnum}
    </update>
    <!-- 강좌 삭제 -->
    <delete id="deleteLecture" parameterType="int">
        delete from lecture where lecnum = #{lecnum}
    </delete>
    <!--강의 목록 전체 출력  과목 이름 순-->
     <select id="getAllLecture" resultType="lectureDto">
		select * from lecture order by lectypea asc
	</select>

    <!--	과목 typea 종류 출력-->
    <select id="getLecTypeA" resultType="myLectureDto">
        SELECT distinct lectypea FROM lecture
    </select>


</mapper>
