<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="bit.data.dao.LectureDao">
    <select id="getLecturePresent" parameterType="int" resultType="lectureDetailJoinDto">
        select lec.lecnum, lec.lecname, lec.lectypea, lec.lectypeb, lec.lecphoto, lec.teaname, de.lecdenum, de.roomnum, de.price, de.lectime, de.lecday, de.lecmonth, de.lecyear
        from lecture lec, lecdetail de
        where lec.lecnum = de.lecnum and lec.lecnum = #{lecnum}
        order by lectypea desc
    </select>
    <select id="getLectureDetailData" parameterType="int" resultType="lectureDetailJoinDto">
        select lec.lecnum, lec.lecname, lec.lectypea, lec.lectypeb, lec.lecphoto, lec.teaname, de.lecdenum, de.roomnum, de.price, de.lectime, de.lecday, de.lecmonth, de.lecyear
        from lecture lec, lecdetail de
        where lec.lecnum = de.lecnum and de.lecdenum = #{lecdenum}
        order by lectypea desc
    </select>
</mapper>
