<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="bit.data.dao.MyLectureDao">
	<insert id="insertMyLecture" parameterType="myLectureDto" >
	
		insert into mylecture (usernum, lecdenum,review, payok)  values (#{usernum},#{lecdenum},null,"no");
	
	</insert>
	
	<update id="updatePayok" parameterType="int">
	
			update mylecture set payok = "ok", paytime = now()  where usernum = #{usernum} AND payok ="no";
		
	</update>
	
	<select id="getReview" parameterType="int" resultType="myLectureDto">
		select review , star from mylecture where lecdenum=${lecdenum} and payok="ok";
		
	</select>
	
	
</mapper>