<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="bit.data.dao.ReadyPayDao">

	<select id="selectByLecdeNum" parameterType="int" resultType="readypayDto">
	
		SELECT lecdetail.lecdenum , lecture.lecname, lecture.teaname, lecdetail.roomnum, lecdetail.lectime, 
        lecdetail.lecmonth, lecdetail.lecday ,lecture.lecphoto , lecdetail.price, lecture.lectypea , lecture.lectypeb
		from lecture join lecdetail on lecture.lecnum = lecdetail.lecnum where lecdenum = #{lecdenum}  
		
	</select>
	
	<select id="MainGetAllLecture"  resultType="readypayDto">
       	SELECT 
    	lecture.lecname, lecdetail.lecdenum, lecture.teaname, lecdetail.roomnum, lecdetail.lectime, lecdetail.lecmonth,  lecdetail.lecday,  lecture.lecphoto,  lecdetail.price, lecture.lectypea,  lecture.lectypeb 
    	FROM lecture, lecdetail
     	WHERE lecture.lecnum = lecdetail.lecnum
		
		</select>
		<select id="selectByCategori" parameterType="String" resultType="readypayDto">
		SELECT lecdetail.lecdenum , lecture.lecname, lecture.teaname, lecdetail.roomnum, lecdetail.lectime, 
        lecdetail.lecmonth, lecdetail.lecday ,lecture.lecphoto , lecdetail.price, lecture.lectypea , lecture.lectypeb
		from lecture join lecdetail on lecture.lecnum = lecdetail.lecnum where lectypeb = '${lectypeb}';
		
		
		</select>
		
	</mapper>