<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="bit.data.dao.ReportBoardDao">
    <select id="checkReportBoard" parameterType="Map" resultType="int">
        select count(*) from reportboard where boardnum=#{boardnum} and usernum=#{usernum}
    </select>
    <insert id="insertReportBoard" parameterType="reportBoardDto">--  신고하기
        insert into reportboard values (null, #{boardnum}, #{usernum})
    </insert>

<!--    관리자 - 신고횟수 되돌리기-->
    <delete id="revertReport" parameterType="int">
        delete reportboard where boardnum = #{boardnum}
    </delete>
</mapper>