<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="bit.data.dao.UserDao">
<!--    회원가입-->
    <insert id="insertUser" parameterType="userDto">
        insert into user (usernum,userid,userpass,username,
                          nickname,photo,email,addr,hp,lastlogin,birth)
        values (null,#{userid},#{userpass},#{username},null,null,null,null,null,now(),null)
    </insert>

<!--    아이디 패스워드 체크-->
    <select id="checkLoginIdPass" parameterType="Map" resultType="int">
        select count(*) from user where userid=#{loginid} and userpass=#{loginpass}
    </select>

<!--    id 로 데이터 가져와 세션에 저장-->
    <select id="getDataByNum" parameterType="int" resultType="userDto">
        select * from user where usernum=#{usernum}
    </select>

</mapper>