<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="bit.data.dao.UserDao">
    <!--회원가입-->
    <insert id="insertUser" parameterType="userDto">
        insert into user (usernum,usertype,email,userpass,username,
                          nickname,userphoto,addr,hp,lastlogin,birth)
        values (null,#{usertype},#{email},#{userpass},#{username},#{nickname},#{userphoto},#{addr},#{hp},now(),#{birth})
    </insert>

    <!--회원가입시 아이디(email) 중복체크-->
    <select id="checkId" parameterType="String" resultType="int">
        select count(*) from user where email=#{email}
    </select>

    <!--로그인 아이디(email) 패스워드 체크 후 usernum 가져오기-->
    <select id="checkLoginIdPass" parameterType="Map" resultType="String">
        select usernum from user where email=#{email} and userpass=#{userpass}
    </select>

    <!--간편 로그인시 아이디(email)로 pk값을 가져옴-->
    <select id="checkLoginId" parameterType="String" resultType="String">
        select usernum from user where email=#{email}
    </select>

    <!--usernum으로 회원 데이터 가져옴-->
    <!--가져온 데이터 로그인 세션에 저장-->
    <select id="getDataByNum" parameterType="int" resultType="userDto">
        select * from user where usernum=#{usernum}
    </select>

    <!--email로 회원 데이터 가져옴-->
    <select id="getDataById" parameterType="String" resultType="userDto">
        select * from user where email=#{email}
    </select>

    <!--전체 회원 수 출력-->
    <select id="getTotalUserCount" parameterType="Map" resultType="int">
        select count(*) from user
        <if test="searchword!=null">
            where username like concat('%',#{searchword},'%')
        </if>
    </select>

    <!--회원 목록 출력-->
    <select id="getUserList" parameterType="Map" resultType="userDto">
        select * from user
        <if test="searchword!=null">
            where username like concat('%',#{searchword},'%')
        </if>
        order by username asc limit #{startnum},#{perpage}
    </select>

    <!--회원 프로필사진변경 (usernum)으로 가져옴-->
    <update id="updateUserPhoto" parameterType="Map">
        update user set userphoto=#{userphoto} where usernum=#{usernum}
    </update>

    <!--회원 정보변경 (usernum)으로 가져옴-->
    <update id="updateUser" parameterType="userDto">
        update user set userpass=#{userpass}, username=#{username}, nickname=#{nickname},
                        addr=#{addr}, hp=#{hp}, birth=#{birth} where usernum=#{usernum}
    </update>

    <!--회원 삭제 (usernum)으로 가져옴-->
    <delete id="deleteUser" parameterType="int">
        delete from user where usernum=#{usernum}
    </delete>

</mapper>
