@charset "UTF-8";

.headerarea {
    height: 90px;
    background-color: #fff;
    text-decoration: none;
}

.logo {
    width: 102.6px;
    height: 30px;
    margin: 29px 40.4px 29px 320px;
}

img.icon_myinfo {
    width: 30.7px;
    height: 30.7px;
    margin: 10px 10px 10px 980px;
    padding: 2.6px 2.6px 2.6px 2.6px;
    cursor: pointer;
}

img.icon_myactivity {
    width: 31px;
    height: 31px;
    margin: 10px;
    padding: 1px;
    cursor: pointer;
}

.icon_myscrap {
    width: 30.7px;
    height: 30.7px;
    margin: 10px;
    padding: 1px;
    cursor: pointer;
}