@charset "UTF-8";

.headerarea {
    display: flex;
    align-items: center;
    position: relative;
    height: 90px;
    background-color: #fff;
    text-decoration: none;
}

.logobox{
    position: absolute;
    left: 50px;
    text-decoration: none;
    font-size: 40px;

}

.logobox a:hover{
    text-decoration: none;

}

/* 로그인, 회원가입 버튼 */
div.menuitem_member {
    position: absolute;
    padding: 17px 10px 0 10px;
    height: 60px;
    width: 300px;
    right: 100px;
}

span.membermenu {
    padding: 5px 25px 5px 25px;
    color: #fff;
    background-color: #ff4b4e;
    border-radius: 20px 0px 0px 20px;
}

span.membermenu_color {
    padding: 5px 25px 5px 25px;
    color: #fff;
    background-color: #ff4b4e;
    border-radius: 20px 0 0 20px;
    cursor: pointer;
    height: 55px;
    text-align: center;
    border: none;
    background-size: 300% 100%;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
    background-image: linear-gradient(to right, #ff4b4e, #f15e64, #e14e53, #e2373f);
    box-shadow: 0 5px 15px rgba(242, 97, 103, .4);
}

.membermenu_color:hover  {
    background-position: 100% 0;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}


span.signupmenu {
    padding: 5px 25px 5px 25px;
    color:#fff;
    background-color: #ff4b4e;
    border-radius: 0 20px 20px 0;
    cursor: pointer;
    height: 55px;
    text-align: center;
    border: none;
    background-size: 300% 100%;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
    background-image: linear-gradient(to right, #ff4b4e, #f15e64, #e14e53, #e2373f);
    box-shadow: 0 5px 15px rgba(242, 97, 103, .4);
}

.membermenu:hover {
    text-shadow: 1px 1px 5px black;
}



/* icon */
/*
img.icon_myinfo {
    width: 30.7px;
    height: 30.7px;
    margin: 10px 10px 10px 980px;
    padding: 2.6px 2.6px 2.6px 2.6px;
    cursor: pointer;
}

img.icon_myactivity {
    width: 31px;
    height: 31px;
    margin: 10px;
    padding: 1px;
    cursor: pointer;
}

.icon_myscrap {
    width: 30.7px;
    height: 30.7px;
    margin: 10px;
    padding: 1px;
    cursor: pointer;
}
*/

