@charset "UTF-8";
@import
url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap')
;

/* 메뉴 전체 영역 */
.menuarea {
    font-family: Noto Sans KR;
    margin: 0 0 0 300px;
}

a:link {
    color: #000;
    text-decoration: none;
}

a:visited {
    color: #000;
    text-decoration: none;
}

div.menuitem a:hover {
    color: #ff4b4e !important;
    text-decoration: none;
}

div.dropmenu a:hover {
    color: #fff !important;
    text-decoration: none;
}

/* 전체 메뉴 버튼 영역 */
div.category {
    width: 180px;
    padding: 16px 20px 0 20px;
    height: 56px;
    float: left;
}

div.category:hover {
    background-color: #ff4b4e;
    cursor: pointer;
}

div.category:hover span.menu_category {
    color: #fff;
}

div.category:hover img.icon_category {
    filter: invert(100%);
}

/* jQuery Class */
.over_bg {
    background-color: #ff4b4e;
}

.over_text {
    color: #fff;
}

.over_img {
    filter: invert(100%);
}

img.icon_category {
    width: 24px;
    height: 24px;
    margin: -5px 0 0 10px;
    padding: 6px 4px 4px;
}

span.menu_category {
    width: 54px;
    height: 56px;
    margin: 10px 0 0 25px;
    font-size: 15px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: -0.38px;
    text-align: left;
    color: #191919;
}

/* 메뉴 목록 */
span.menu {
    position: absolute;
    width: 54px;
    height: 21px;
    font-size: 15px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: -0.38px;
    text-align: left;
    color: #191919;
}

div.menuitem {
    width: 100px;
    margin: 0 6px 5px 0px;
    padding: 16px 0px 0 20px;
    height: 56px;
    float: left;
    cursor: pointer;
}

div.menuitem:hover span.menu {
    color: #ff4b4e;
}

/* 로그인, 회원가입 버튼 */
div.menuitem_member {
    padding: 17px 10px 0 10px;
    height: 56px;
    float: left;
}

span.membermenu {
    padding: 5px 25px 5px 25px;
    color: #fff;
    background-color: #ff4b4e;
    border-radius: 20px 0px 0px 20px;
}

span.membermenu_color {
    padding: 5px 25px 5px 25px;
    color: #fff;
    background-color: #ff4b4e;
    border-radius: 20px 0 0 20px;
    cursor: pointer;
    height: 55px;
    text-align: center;
    border: none;
    background-size: 300% 100%;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
    background-image: linear-gradient(to right, #ff4b4e, #f15e64, #e14e53, #e2373f);
    box-shadow: 0 5px 15px rgba(242, 97, 103, .4);
}

.membermenu_color:hover  {
    background-position: 100% 0;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}


span.signupmenu {
    padding: 5px 25px 5px 25px;
    color:#fff;
    background-color: #ff4b4e;
    border-radius: 0 20px 20px 0;
    cursor: pointer;
    height: 55px;
    text-align: center;
    border: none;
    background-size: 300% 100%;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
    background-image: linear-gradient(to right, #ff4b4e, #f15e64, #e14e53, #e2373f);
    box-shadow: 0 5px 15px rgba(242, 97, 103, .4);
}

.membermenu:hover {
    text-shadow: 1px 1px 5px black;
}

/* 드롭다운 메뉴 */
div.dropmenu {
    position:absolute;
    font-family: Noto Sans KR;
    margin: 56px 6px 5px 300px;
    padding: 16px 25px 0 25px;
    height: 250px;
    background-color: #ff4b4e;
    color: #fff;
    display: none;
    z-index: 12;
}

ul {
    text-align: center;
    list-style: none;
    padding: 0;
}

#dropmenu_ul {
    background-color: #ff4b4e;
    text-align: center;
}

a.dm_main {
    font-size: 16px;
    text-shadow: 1px 1px gray;
}

.dropmenu ul ul {
    position: absolute;
    font-weight: 300;
}

.dropmenu ul ul li {
    display: block;
    background-color: #ff4b4e;
    color: white;
}

.dropmenu ul li {
    display: inline-block;
}

.dropmenu ul li a {
    display: block;
    width: 150px;
    color: white;
    line-height: 43px;
    text-decoration: none;
}

.dropmenu ul li a:hover {
    text-shadow: 3px 3px 5px black;
}