@charset "UTF-8";
@import
url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap')
;

/* 메뉴 전체 영역 */
.menuarea {
    width: 100%;
    font-family: Noto Sans KR;
    margin: 0 0 0 0px;
}

a:link {
    color: #000;
    text-decoration: none;
}

a:visited {
    color: #000;
    text-decoration: none;
}

div.menuitem a:hover {
    color: #ff4b4e !important;
    text-decoration: none;
}

div.dropmenu a:hover {
    color: #fff !important;
    text-decoration: none;
}

/* 전체 메뉴 버튼 영역 */
div.category {
    width: 180px;
    padding: 16px 20px 0 20px;
    margin-left: 30px;
    height: 56px;
    float: left;
}

div.category:hover {
    background-color: rgba(255, 75, 78, 0.9);
    cursor: pointer;
}

div.category:hover span.menu_category {
    color: #fff;
}

div.category:hover img.icon_category {
    filter: invert(100%);
}

/* jQuery Class */
.over_bg {
    background-color: rgba(255, 75, 78, 0.9);
}

.over_text {
    color: #fff;
}

.over_img {
    filter: invert(100%);
}

img.icon_category {
    width: 24px;
    height: 24px;
    margin: -5px 0 0 10px;
    padding: 6px 4px 4px;
}

span.menu_category {
    width: 54px;
    height: 56px;
    margin: 10px 0 0 25px;
    font-size: 15px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: -0.38px;
    text-align: left;
    color: #191919;
}

/* 메뉴 목록 */
span.menu {
    position: absolute;
    width: 54px;
    height: 21px;
    font-size: 15px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: -0.38px;
    text-align: left;
    color: #191919;
}

div.menuitem {
    width: 100px;
    margin: 0 6px 5px 0px;
    padding: 16px 0px 0 20px;
    height: 56px;
    float: left;
    cursor: pointer;
}

div.menuitem:hover span.menu {
    color: #ff4b4e;
}


/* 드롭다운 메뉴 */
div.dropmenu {
    position:absolute;
    font-family: Noto Sans KR;
    margin: 56px 6px 5px 30px;
    padding: 16px 25px 0 25px;
    height: 250px;
    background-color: rgba(255, 75, 78, 0.9);
    color: #fff;
    display: none;
    z-index: 12;
}

ul {
    text-align: center;
    list-style: none;
    padding: 0;
}

#dropmenu_ul {
    background-color: rgba(255, 75, 78, 0.9);
    text-align: center;
}

a.dm_main {
    font-size: 16px;
    text-shadow: 1px 1px gray;
}

.dropmenu ul ul {
    position: absolute;
    font-weight: 300;
}

.dropmenu ul ul li {
    display: block;
    color: white;
}

.dropmenu ul li {
    display: inline-block;
}

.dropmenu ul li a {
    display: block;
    width: 150px;
    color: white;
    line-height: 43px;
    text-decoration: none;
}

.dropmenu ul li a:hover {
    text-shadow: 3px 3px 3px beige;
}