/*.listbox-tm{*/
/*    background-color:white ;*/
/*    text-align: center;*/
/*    margin: 0 auto;*/
/*}*/


/*.qnalist{*/
/*    margin: 0 auto;*/
/*}*/

/*.hname-tm{*/
/*    font-size: 15px;*/
/*}*/

button:focus {
    outline: none;
}

#page-button-tm {
    background-color: white;
    color: black;
    border: 1px solid black;
    display: block;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
    text-align: center;
    margin: auto;
    background-color: white;
    outline-color: white;
}
#page-button-tm2{
    color: black;
    outline-color: white;
    border: 1px solid black;
}

#page-button-tm3{
    color: black;
    outline-color: white;
    border: 1px solid black;
}

#page-button-tm4{
    color: black;
    outline-color: white;
    border: 1px solid black;
}
#page-button-tm5{
    color: black;
    border: 1px solid black;
    outline-color: white;
}
#page-button-tm6{
    color: black;
    border: 1px solid black;
    background-color: white;
    border-color:black;
    outline-color: white;
    outline: 0;
}
#page-button-tm7{
    color: black;
    border: 1px solid black;
    outline-color: white;
}

#page-button-tm8 {
    color: black;
    border: 1px solid black;
    outline-color: white;
}

.subject-tm{
    text-decoration: none;
    color: black;
}

.hname-tm{
    font-size: 15px;
}

.myask{
    font-size: 15px;
    text-decoration: none;
    color: black;
    cursor: pointer;
    background-color: white;
    border-radius: 15px;
    border: 1px solid black;
}
.myask2{
    font-size: 15px;
    text-decoration: none;
    color: black;
    cursor: pointer;
    background-color: white;
    border-radius: 15px;
    border: 1px solid black;
    margin: auto;
}

.myaskbox{
    margin-top: 70px;
    display: block;
    text-align: center;
}

.qnalist{
    text-align: center;
}


#writecolor{
    color: black;
    border: 1px solid black;
    text-align: center;
    display: block;
    margin: auto;
}
@font-face {
    font-family: abster;
    src: url('abster-webfont.woff') format('woff');
}