.cuz {
    width: 100px;
}

ul {
    padding: 0;
}

li {
    list-style: none;
    line-height: 34px;
}

a {
    text-decoration: none;
    color: black;
    text-align: center;
}

.snd_menu {
    background: #efefef;
}

.sub_menu {
    display: none;
}
