@charset "UTF-8";

a.lecdego{
    text-decoration: none;
    color: black;
}
a.lecdego:hover{
    color: #3f86ed;
}

div.stcontainer {
    font-family: 'Noto Sans KR';
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    width: 100%;
}

.basicbtn{
    width: 80px;
    height: 30px;
    border-radius: 15px;
    background-color: white;
    border: 1px solid black;
}
.basicbtn:hover {
    background-color: #eeeeee;
}

div.sttitle {
    display: flex;
    justify-content: center;
    width: 100%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    font-size: 25px;
    font-weight: 600;
    color: #505050;
}

div.container div.box {
    width: 80%;
    height: 70%;
    background-color: #fff;
    border-radius: 20px;
}

table.text {
    border-collapse: separate;
    border-spacing: 0 14px;
    margin-top: 30px;
}

td.text2 {
    margin: 30px 0 10px 0;
}

tr td.text1 {
    font-size: 16px;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    color: #505050;
    font-weight: 500;
}


div.wrapper {
    margin-left: 10px;
}

#color {
    margin-left: 47px;
}

#color div {
    width: 33px;
    height: 33px;
    border: 0.8px solid black;
    cursor: pointer;
    border-radius: 50px;
    margin-left: 15px;
    position: relative;
    display: inline-block;
}

.wrapper {
    box-sizing: border-box;
    height: 50px;
    position: relative;
    width: 200px;
    margin-bottom: 5px;
}

.input {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #CCC;
    color: #555;
    box-sizing: border-box;
    font-family: 'Noto Sans KR';
    font-size: 16px;
    padding: 10px 0px;
    position: relative;
    width: 200px;
}

.input:focus {
    outline: none;
}

input::-webkit-input-placeholder {
    color: #AAA;
}

input:focus::-webkit-input-placeholder {
    color: #3f86ed;
    outline: none
}

.input:focus+.underline {
    transform: scale(1);
    outline: none;
}

.underline {
    background-color: #3f86ed;
    display: inline-block;
    height: 2px;
    left: 0px;
    position: absolute;
    top: 42px;
    -webkit-transform: scale(0, 1);
    transform: scale(0, 1);
    -webkit-transition: all 0.1s linear;
    transition: all 0.1s linear;
    width: 170px;
}

