@keyframes slide {

    from{
        left: -200px;
    }

    to{
        left: -50px;
    }
    
}


button:focus {
    outline: none;
}


li > a.page-link {
    display: block;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
    text-align: center;
    margin: auto;
    background-color: white;
    width: 50px;
}

ul.pagination {
    justify-content: center;
}

table > td > a {
    text-decoration: none;
}


#test_obj {
    position: fixed;
    width: 70px;
    height: 210px;
    right: 50px;
    border-radius: 70px;
    top: 550px;
    border: 1px solid;
    border-color: grey;
}