

table.lectable th{
    width: 80px;
    height: 40px;
    border: 1px solid lightgray;
    vertical-align: middle;
    text-align: center;
    font-size: 18px;
    color: #555;
}

table.lectable td{
    width: 80px;
    height: 50px;
    padding-top: 5px;
    border: 1px solid lightgray;
    vertical-align: middle;
    text-align: center;
    font-size: 12px;
}

div.mylec{
    width: 80px;
    height: 50px;
    line-height: 25px;
}

div.mylecname{
    display: flex;
    justify-content: center;
    width: 70px;
    height: 25px;
    margin-left: 5px;
    margin-bottom: 3px;
    border-radius: 8px;
    line-height: 25px;
}
div.mylecname a{

}